@{
    ViewData["Title"] = "Home Page";
}
<span>Data: @ViewBag.Data</span>
<img src="~/imagens/imagem-min.png" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
